

{% extends 'base.html' %}
{% block title %}Inputs for MadLib Game{% endblock %}

{% block content %}
    <h1> Enter in the following: </h1>
    <form action="/madlib"> 
        <br>
        Enter in a person: <input type="text" name="person">
        <!--Player to indicate Yes / No play a game -->
        <br>
        Choose a Color:
        <select name="color" required>
          <option value="RED">Red</option>
          <option value="YELLOW">Yellow</option>
          <option value="PURPLE">Purple</option>
          <option value="BLUE">Blue</option>
          <option value="Orange">Orange</option>
        </select>
        <br>
        Choose a Noun:
          {% for animal in nouns %}
            <input type="checkbox" name="noun" value="{{animal}}"> {{animal}}
          <!-- need "" to reference string -->
          {% endfor %}
          <!-- <input type="checkbox" name="noun" value="cat">Cat
          <input type="checkbox" name="noun" value="hedgehog">Hedgehog
          <input type="checkbox" name="noun" value="balloonicorn">Balloonicorn
          <input type="checkbox" name="noun" value="yak">Yak -->
        <br>
        Choose an Adjective:
        <input type="radio" name="adjective" value="perky" required>Perky
        <input type="radio" name="adjective" value="feisty" required>Feisty
        <input type="radio" name="adjective" value="gloomy" required>Gloomy
        <br>
        <input type="submit" value="Submit">
    </form>


{% endblock %}



